.signUp {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 20px;
}

.info {
    margin-right: 10px;
}

.title {
    color: hsl(234, 29%, 20%);
    font-size: 50px;
    margin-bottom: 20px;
}

.description {
    color: hsl(234, 29%, 20%);
    line-height: 26px;
    width: 400px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs .messages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages p {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
}

.messages .email {
    color: hsl(234, 29%, 20%);
}

.messages .error {
    color: hsl(4, 100%, 67%);
}

.input-email {
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    margin-bottom: 20px;
}

.input-email::placeholder {
    color: hsl(231, 7%, 60%);
}

.input-email:focus {
    outline: 1px solid hsl(231, 7%, 60%);
}

.input-submit {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s ease-in;
}

.input-submit:hover {
    background-color: hsl(4, 100%, 67%);
}

.input-email.error {
    background-color: hsla(4, 100%, 67%, 30%);
    border: 1px solid hsl(4, 100%, 67%);
}

.input-email.error::placeholder {
    color: hsl(4, 100%, 67%);
}

.input-email.error:focus {
    outline: 1px solid hsl(4, 100%, 67%);
}

.desktop {
    width: 350px;
}

.mobile {
    display: none;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 20px;
    width: 400px;
}

.success img {
    width: 50px;
    margin-bottom: 20px;
}

.success .description {
    width: 300px;
}

.success .description span {
    font-weight: 700;
}

.success .input-submit {
    width: 100%;
}

.none {
    display: none;
}

@media(max-width:800px){
    .signUp {
        padding: 20px;
    }

    .description {
        width: 300px;
    }

    .desktop{
        width: 300px;
    }
}

@media(max-width:500px){
    .signUp {
        justify-content: flex-end;
        flex-direction: column-reverse;
        background-color: hsl(0, 0%, 100%);
        padding: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .info {
        margin-right: 0;
    }

    .desktop{
        display: none;
    }

    .mobile {
        display: block;
        width: 100vw;
        margin-bottom: 20px;
    }
}